.popup__review,
.popup__support {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all ease .2s 0s;
}
.popup__review.open,
.popup__support.open {
  opacity: 1;
  visibility: visible;
}
.popup__review.open .popup__support__content ,
.popup__support.open .popup__support__content {
  opacity: 1;
}
.label__name,
.label__phone {
  display: none;
  margin-top: 12px;
  color: var(--red, #D7171F);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.label__name.hide,
.label__phone.hide {
  display: block;
}
.popup__support__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__support__content{
  max-width: 800px;
  width: 100%;
  background: #FFF;
  height: 1080px;
  position: relative;
  z-index: 5;
  top: -30px;
  left: 28%;
}
.popup__image-wrapper {
  z-index: 15;
  position: absolute;
  margin-top: 20px;
  left: 87%;
}
.popup__support__close-img {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
.popup__support__text-wrapper {
  max-width: 640px;
  width: 100%;
  margin: 60px;
  margin-left: 48px;
}

.popup__title {
  width: 640px;
  color: var(--black, #081A32);
  font-family: 'PantonSemibold';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; 
}
.popup__form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
.popup__name-wrapper,
.popup__phone-wrapper {
  position: relative;
}
.star__name,
.star__phone {
  z-index: 6;
  position: absolute;
  left: 625px;
  top: 10px;
  width: 9px;
}
.popup__name,
.popup__phone {
  position: relative;
  max-width: 640px;
  width: 100%;
  height: 68px;
  border-radius: 6px;
  background: var(--bg, #ECF1F6);
  padding-left: 20px;
  z-index: 6;
  color: var(--gray-text, #788999);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  cursor: pointer;
}
.popup__name:focus:valid,
.popup__phone:focus:valid {
  outline-color: #0D4DA1;
}
/* .popup__name:focus:required:invalid ,
.popup__phone:focus:required:invalid {
  outline-color: #D7171F;
} */
.popup__name.active:focus,
.popup__phone.active:focus {
  outline-color: #D7171F;
} 

.popup__name::placeholder,
.popup__phone::placeholder  {
  color: var(--gray-text, #788999);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.popup__phone-wrapper {
  margin-top: 12px;
}
.popup__checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 40px;
}



.popup__checkbox-label {
  color: var(--black, #081A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.popup__send-wrapper {
  margin-top: 40px;
  width: 167px;
  height: 60px;
  border-radius: 32px;
  background: var(--red, #D7171F);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  transition: .3s ease all;
}
.popup__send-wrapper:hover {
  background: var(--bg, #ECF1F6);
}
.send__btn {
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; 
}
.popup__send-wrapper:hover .send__btn,
.popup__send-wrapper:hover svg.popup__arrow path {
  color: var(--black, #081A32);
  fill: #081A32;
}

.custom-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: -1;
  opacity: 0;
  transition: all .2s ease;
  
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid transparent;
  background-color: #ECF1F6;
  border-radius: 8px;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: .2s ease all;
}
.custom-checkbox:checked+label::before {
  border: none;
  background-color: #fff;
  background-image: url("../img/icons/checkbox.svg");
}
.custom-checkbox.active:not(:disabled):not(:checked)+label::before {
  border-color: #D7171F;
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  /* border-color: #D7171F; */
  cursor: pointer;
}
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #fff;
}

/*  */
.popup__support__content {
}
.popup__image-wrapper {
}
.popup__support__close-img {
}
.popup__support__text-wrapper {
}
.popup__support__content.review {
  overflow-y: auto;
  padding-bottom: 300px;
}
.popup-review__title-wrapper {
  display: flex;
  align-items: center;
  gap: 48px;
}
.popup-review__img {
  width: 250px;
  height: 250px;
}
.popup-review__title {
  color: var(--black, #081A32);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
}
.popup-review__text-wrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.popup-review__text {
  color: var(--black, #081A32);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
/* .popup-review__text.first {
  margin-top: 20px;
} */
.second {
}
.third {
}
.fourth {
}
.letter__wrapper {
  margin-top: 68px;
  border-radius: 32px;
  border: 1px solid var(--sup, #D8DFE5);
  background: #FFF;
  width: 100%;
  height: 413px;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.letter__title {
  color: var(--black, #081A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
}
.letter__img {
  border-radius: 32px;
  width: 265px;
  height: 366px;
  flex-shrink: 0;
}
/*  */

@media (min-width: 1830px) {
  .popup__support__content {
    left: 30%;
  }
}
@media (max-width: 1620px) {
  .popup__support__content {
    left: 26%;
  }
}
@media (max-width: 1500px) {
  .popup__support__content {
    left: 24%;
  }
}
@media (max-width: 1380px) {
  .popup__support__content {
    left: 22%;
  }
}
@media (max-width: 1290px) {
  .popup__support__content {
    left: 20%;
  }
}
@media (max-width: 1200px) {
  .popup__support__content {
    left: 18%;
  }
}
@media (max-width: 1120px) {
  .popup__support__content {
    left: 15%;
  }
}
@media (max-width: 1025px) {
  .popup__support__content {
    left: 12%;
  }
}
@media (max-width: 950px) {
  .popup__support__content {
    left: 8%;
  }
}
@media (max-width: 860px) {
  .popup__support__body {
    padding: 0;
  }
  .popup__support__content {
    left: 0;
    max-width: 100%;
    height: 1080px;
  }
  .popup__support__text-wrapper {
    margin-top: 130px;
  }
  .popup__image-wrapper {
    margin-top: 50px;
  }
}
@media (max-width: 740px) {
  .popup__support__text-wrapper.review {
    margin-left: 20px;
    max-width: 640px;
    padding-right: 40px;
    width: 100%;
  }
  .letter__wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
  }
  .popup-review__img {
    width: 150px;
    height: 150px;
  }
  .popup-review__title-wrapper {
    flex-direction: column;
  }
  .popup-review__title {
    font-size: 32px;
  }
}
@media (max-width: 710px) {
  .popup__title {
    font-size: 36px;
  }
  .popup__support__close-img {
    height: 50px;
    width: 50px;
  }
  .popup__name,
  .popup__phone {
    width: 500px;
    height: 55px;
  }
  .popup__form {
    width: 500px;
  }
  .star__name,
  .star__phone {
    left: 483px;
  }
}
@media (max-width: 560px) {
  .popup__support__text-wrapper {
    margin-left: 25px;
    padding-right: 25px;
  }
  .popup__title {
    font-size: 30px;
  }
  .popup__name,
  .popup__phone,
  .popup__name-wrapper,
  .popup__phone-wrapper,
  .popup__form,
  .popup__support__text-wrapper {
    width: 350px;
  }
  .star__name,
  .star__phone {
    left: 330px;
  }
}
@media (max-width: 400px) {
  .popup__name,
  .popup__phone,
  .popup__name-wrapper,
  .popup__phone-wrapper,
  .popup__form,
  .popup__support__text-wrapper {
    width: 300px;
  }
  .star__name,
  .star__phone {
    left: 280px;
  }
  .popup__title {
    font-size: 26px;
  }
  .popup__image-wrapper {
    left: 80%;
  }
  .popup__support__close-img {
    margin-left: 15px;
  }
}